<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
     <link type="text/css" rel="stylesheet" href="../static/style.css" media="screen, projection"/>
    <title>About</title>
</head>
<body>

    <h1>About</h1>
    <li> <a href = "/" >Explore</a> </li>
    <h1 class="message">Trail App is an hiking trail recommendation system </h1>

<p>  </p>
    <div
        <div class="container">

    <img src="../static/wc.png" alt="" class="img" />
<h1></h1>
<p>We often remember hikes only through the experience, not by their names.  That is exactly what is depicted in the image above. The image shows the key features of what the hikers thought was defining the hike.  Views! Above image is a word cloud generated in python  from the reviews of a hike in San Francisco, california. Trail App (V1.1.0) is constantly evolving to deliver a world class personalized recommendation system for hiking trails in California, purely based on the experience of an hike. The current avatar(aka version) of Trail App will suggest 3 hiking trails in the Bay Area that are very similar to the experience that you would want to relive in a new hike. <p>
            <p>TrailApp has been implemented using multiple aspects of data science. (i) Web scraping reviews data for the hiking trails. Trail App currently holds review and trail statistics for over 950 trails in bay area (ii) NLP  analysis of the review using tfidf vectorizer and comparing the performance of recommendation using Bag of words. (iii) Content based recommendation system using cosine similarity from tfidf vectors of each hike.<p>
<p>Future work: Trail App to host  trail data and recommend hikes for all of California with added ability to suggest hikes from the key words.<p>
</body>
</html>

